// Variable Color's
$background: #21242b;
$foreground: #A6Accd;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$lgreen: #73DACA;
$green: #C3E88D;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;


$bg: rgba(#ffffff,0.1);
$fg: #dddddd;
$shadow: rgba(#000000,0.3);
$border_col: rgba(#cccccc,0.18);
$best_so_far: rgba(255,255,255,0.1); 

