* {
    border: none;
    font-family: BlexMono Nerd Font;
    font-size: 10pt;
    /* border-radius: 20px; */
}

window {
	/*font-weight: bold;*/
}
window#waybar {
    background: transparent;
}

/* STANDARD COLORS
Bar: #1A1B26
Bar-Font: #cdd6f4

Workspaces-Font: #cdd6f4
Workspaces-Hover: #80a0ff
Workspaces-Highlight: #080808

Clock-Background: #80a0ff
Clock-Font: #080808

Spotify-Font: #73DACA
CPU-Font: #F7768E
RAM-Font: #BB9AF7
Submap-Font: #F7768E
Pulseaudio-Font: #7DCFFF
Pulseaudio-Muted-Font: #e3c78a
*/

/* SIEGMEYER DRIP
Bar: #472F20
Bar-Font: #FBDAA7

Workspaces-Font: #FBDAA7
Workspaces-Hover: #5E4642
Workspaces-Highlight: #937C5D

Clock-Background: #5E4642
Clock-Font: #937C5D

Spotify-Font: #BCA873
CPU-Font: #E58C45
RAM-Font: #FCD8A5
Submap-Font: #5F4534 
Pulseaudio-Font: #FFEFDA
Pulseaudio-Muted-Font: #e3c78a
*/


/*-----module groups----*/
.modules-right {
		background: #472F20;
		color: #FBDAA7;
		font-weight: bold;
	/* background: rgba(8,8,8,0.01);*/
		border-radius: 12px;
}
.modules-center {
	/* background: rgba(8,8,8,0.01); */
		background: #472F20;
		color: #FBDAA7;
		font-weight: bold;
		border-radius: 12px;
}
.modules-left {
		background: #472F20;
		color: #FBDAA7;
		font-weight: bold;
	/* background: transparent; */
		border-radius: 12px;
}

tooltip {
	background: #080808;
	border-radius: 12px;
}

#workspaces {
		color: #FBDAA7;
}

/*-----modules indv----*/
#workspaces button {
	font-size: 4px;
	border-radius: 12px;
	color: #FBDAA7;
	font-weight: bold;
}

#workspaces button:hover {
	color: #5E4642;
}

#workspaces button.urgent {
	color: #ff5454;
	border: #ff5454;
    font-weight: bold;
}

#workspaces button.active {
    font-weight: bold;
	background: #5E4642;
	color: #937C5D;
}

#clock {
	border-radius: 12px;
	font-weight: bold;
	font-size: 11pt;
	background: #5E4642;
	color: #937C5D;
	padding: 6 0px;
}

#custom-spotify {
    color: #BCA873; 
}

#cpu {
		color: #E58C45;
}

#memory {
		color: #FCD8A5;
}

#pulseaudio {
		color: #FFEFDA;
}

#submap {
		color: #5F4534;
		font-weight: bold;
}

#custom-sep_r_inter {
	padding: 6 0px;
}

#custom-sep_l_inter {
	padding: 10 0pt;
}

#custom-spc_l {
	padding: 1 0px;
}
#custom-spc_r {
	padding: 0 0px;
}

/*-----Indicators----*/
#pulseaudio.muted {
    color: #e3c78a;
	font-weight: bold;
}
